.table {
  padding: 20px 0;
  text-align: left;
  width: 100%;
  margin-top: 10px;
  border-spacing: 0.5rem;

  thead tr th {
    color: var(--gray-500);
    font-size: 14px;
    border-bottom: 1px solid var(--gray-200);
    padding: 7px 0;
  }

  tbody tr td {
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid var(--gray-200);

    img {
      margin-right: 5px;
    }

    a {
      background-color: var(--blue-500);
      width: 40px;
      height: 40px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 500ms;

      &:hover {
        background-color: var(--blue-900);
      }
    }
  }
}

@media (max-width: 800px) {
  .table {
    display: block;
    overflow-x: auto;

    thead tr th {
      width: 100%;
      padding: 10px;
    }

    tbody tr td {
      width: 100%;
      padding: 10px 30px;
      text-align: center;
    }
  }
}