.container {
  width: 100%;
  max-width: 1300px;
  min-width: 350px;
  margin: 10px auto;

  section {
    background-color: var(--gray-100);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--gray-200);
    border-radius: 6px;
    padding: 10px;
  
    header {
      background-color: var(--gray-100);
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
  
      .actionRequests {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
  
      form {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
  
        .btnCancel {
          background-color: var(--red-500);
          transition: 400ms;

          &:hover {
            background-color: var(--gray-700);
          }
        }
  
        .btnSave {
          background-color: var(--green-500);

          &:hover {
            background-color: var(--gray-700);
          }
        }
      }
    }
  
    .requestsShow {
      display: flex;
      flex-direction: row;
      padding: 20px 10px;
  
      .requestDescription {
        width: 50%;
        margin: 10px 0;
        padding: 15px;
  
        h2 {
          margin: 20px 0;
          font-size: 18px;
        }
  
       p {
         margin: 10px 0;
         font-size: 16px;
         font-weight: normal;
  
         strong {
           font-size: 14px;
           color: var(--gray-700);
         }
       }
  
       p:nth-child(7) {
         margin-bottom: 20px;
       }
  
        span {
          margin-top: 20px;
          font-size: 14px;
          font-weight: bold;
          color: var(--gray-700);
  
          strong {
            font-size: 16px;
            font-weight: normal;
          }
        }
      }
  
      .formChangeOrders {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        margin: 10px 0;
        padding: 15px;
  
        h2 {
          margin: 20px 0;
          font-size: 18px;
        }
  
        .inputGroup {
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 10px;
  
          label {
            color: var(--gray-700);
            font-size: 14px;
          }
  
          input {
            height: 35px;
            border: 1px solid var(--gray-200);
            padding: 0 10px;
            outline: none;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    section {
      header {
        flex-direction: column;

        .actionRequests {
          width: 100%;
          margin-bottom: 20px;
        }

        form {
          width: 100%;
          margin: 10px 0;
          justify-content: center;
        }
      }

      .requestsShow {
        flex-direction: column-reverse;

        .requestDescription {
          width: 100%;
        }

        .formChangeOrders {
          width: 100%;
          align-items: center;

          .inputGroup {
            width: 100%;
            max-width: 500px;
          }
        }
      }
    }
  }
}