.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin: 20px 0;

  .card {
    background-color: var(--yellow-100);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;
    gap: 10px;
    border-radius: 4px;
    text-align: center;

    h1, h3 {
      color: var(--yellow-900)
    }

    h1 {
      font-size: 24px;
    }

    h3 {
      font-size: 16px;
    }

    h5, span {
      color: var(--yellow-900);
      font-weight: 400;
    }

    span {
      strong {
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 670px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);

    .card {
      margin: 10px 0;
    }
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}